<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="MENU">
      <div class="div">
        <div class="overlap">
          <div class="logo"></div>
          <div class="email-box"></div>
          <div class="email-box-2"></div>
          <div class="text-wrapper">Bebe</div>
          <div class="text-wrapper-2">Padres</div>
          <div class="cuadro-seleccion">
            <div class="overlap-group">
              <p class="p">Asegurate de tener el BabysitterCam en ambos dispositivos</p>
              <div class="text-wrapper-3">Compartir Enlace</div>
              <div class="cuadro-gris"></div>
            </div>
            <div class="text-wrapper-4">Transmitir video</div>
            <div class="text-wrapper-5">Monitorea a tu bebe</div>
          </div>
          <img class="ellipse" src="img/ellipse-1.png" />
          <img class="img" src="img/ellipse-2.png" />
          <img class="rectangle" src="img/rectangle-3.png" />
          <img class="rectangle-2" src="img/rectangle-3.png" />
        </div>
        <div class="menu">
          <img class="line" src="img/line-1.png" />
          <img class="line-2" src="img/line-4.svg" />
          <img class="line-3" src="img/line-4.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
