{% extends "auth/layout.html" %}
{% import "_helpers.html" as h %}

{% block title %}Forgot password{% endblock %}

{% block content %}
<div class="w-full max-w-md mx-auto">
    {{ h.alert('mb-10') }}
    <h2 class="font-semibold text-4xl mb-4">Forgot password</h2>
    <div class="border-t border-gray-300 my-4"></div>
	  <p class="font-medium mb-4">Looks like you've forgotten your password</p>
    <form action="{{ url_for('auth.forgot_password') }}" method="post">
      {{ form.csrf_token }}
      <div class="form-control">
        <label for="email" class="block text-gray-700 font-bold mb-2">{{ form.email.label }}</label>
        {{ form.email(class="input input-bordered w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        {{ h.form_error(form.email) }}
    </div>
      
      <div class="flex items-center justify-between py-8">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Send</button>
      </div>
    </form>

    <div class="pt-4 text-center">
      Not registered yet? <a href="{{ url_for('auth.signup') }}" class="underline text-blue-500">Create an account</a>
    </div>
  </div>
{% endblock %}
